# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# 作業1
* 請仿照範例，將鐵達尼範例中的類別型特徵改用均值編碼實作一次

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

data_path = '../part02/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
#只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Numeric Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

5 Numeric Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,None,S

# 作業2
* 觀察鐵達尼生存預測中，均值編碼與標籤編碼兩者比較，哪一個效果比較好? 可能的原因是什麼?

In [3]:
# 對照組 : 標籤編碼 + 邏輯斯迴歸

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import cross_val_score

Le = LabelEncoder()
LR = LogisticRegression()
df_le=pd.DataFrame()

for i in df.columns:
    df_le[i]=Le.fit_transform(df[i])

cross_val_score(LR, df_le[:train_Y.shape[0]], train_Y).mean()

C:\Users\User\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
C:\Users\User\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\User\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\User\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.77665544332211

In [4]:
# 均值編碼 + 梯度提升樹


# 均值編碼 + 邏輯斯迴歸
#col_mean=pd.DataFrame()
df_mean = pd.concat([df[:train_num], train_Y], axis=1)
#print(df_mean.columns)
for i in df.columns:
    col_mean=df_mean.groupby([i])['Survived'].mean().reset_index()
    col_mean.columns=[i,f'{i}_mean']
    df_mean = pd.merge(df_mean, col_mean, on=i, how='left')
    df_mean = df_mean.drop([i] , axis=1)
df_ob = copy.deepcopy(df_mean)
#df_mean = df_mean.drop(['Survived'] , axis=1)
df_mean = df_mean.drop(['Survived', 'Name_mean', 'Ticket_mean'] , axis=1)
cross_val_score(LR, df_mean[:train_Y.shape[0]], train_Y).mean()

C:\Users\User\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
C:\Users\User\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\User\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\User\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8350168350168351

In [5]:
df_ob[['Survived','Name_mean', 'Ticket_mean']]

     Survived  Name_mean  Ticket_mean
0           0          0         0.00
1           1          1         1.00
2           1          1         1.00
3           1          1         0.50
4           0          0         0.00
5           0          0         0.00
6           0          0         0.00
7           0          0         0.00
8           1          1         1.00
9           1          1         0.50
10          1          1         1.00
11          1          1         1.00
12          0          0         0.00
13          0          0         0.00
14          0          0         0.00
15          1          1         1.00
16          0          0         0.00
17          1          1         1.00
18          0          0         0.00
19          1          1         1.00
20          0          0         0.00
21          1          1         1.00
22          1          1         1.00
23          1          1         1.00
24          0          0         0.00
25          1          1         0.75
26          0          0         0.00
27          0          0         0.50
28          1          1         1.00
29          0          0         0.00
..        ...        ...          ...
861         0          0         0.00
862         1          1         1.00
863         0          0         0.00
864         0          0         0.00
865         1          1         1.00
866         1          1         1.00
867         0          0         0.00
868         0          0         0.00
869         1          1         1.00
870         0          0         0.00
871         1          1         1.00
872         0          0         0.00
873         0          0         0.00
874         1          1         0.50
875         1          1         1.00
876         0          0         0.00
877         0          0         0.00
878         0          0         0.00
879         1          1         1.00
880         1          1         1.00
881         0          0         0.00
882         0          0         0.00
883         0          0         0.00
884         0          0         0.00
885         0          0         0.00
886         0          0         0.00
887         1          1         1.00
888         0          0         0.00
889         1          1         1.00
890         0          0         0.00

[891 rows x 3 columns]