# 處理 outliers
* 新增欄位註記
* outliers 或 NA 填補
    1. 平均數 (mean)
    2. 中位數 (median, or Q50)
    3. 最大/最小值 (max/min, Q100, Q0)
    4. 分位數 (quantile)

In [1]:
# Import 需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# 設定 data_path
dir_data = '../part01/'

In [2]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)
app_train.head()

Path of read in data: ../part01/application_train.csv

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

## 1. 列出 AMT_ANNUITY 的 q0 - q100
## 2.1 將 AMT_ANNUITY 中的 NAs 暫時以中位數填補
## 2.2 將 AMT_ANNUITY 的數值標準化至 -1 ~ 1 間
## 3. 將 AMT_GOOD_PRICE 的 NAs 以眾數填補

In [3]:
"""
YOUR CODE HERE
"""
# 1: 計算 AMT_ANNUITY 的 q0 - q100
q_all =app_train['AMT_ANNUITY'].quantile(np.linspace(0,1,101))

q_pd=pd.DataFrame({'q': list(range(101)),
              'value': q_all})
q_pd

        q      value
0.00    0    1615.50
0.01    1    6182.91
0.02    2    6750.00
0.03    3    7875.00
0.04    4    8703.00
0.05    5    9000.00
0.06    6    9000.00
0.07    7    9553.50
0.08    8   10125.00
0.09    9   10503.00
0.10   10   11074.50
0.11   11   11430.00
0.12   12   11970.00
0.13   13   12375.00
0.14   14   12838.50
0.15   15   13302.00
0.16   16   13500.00
0.17   17   13500.00
0.18   18   13896.00
0.19   19   14350.50
0.20   20   14701.50
0.21   21   15124.50
0.22   22   15583.50
0.23   23   15970.50
0.24   24   16209.00
0.25   25   16524.00
0.26   26   16852.50
0.27   27   17109.00
0.28   28   17487.00
0.29   29   17806.50
...   ...        ...
0.71   71   32458.50
0.72   72   32895.00
0.73   73   33376.50
0.74   74   33984.00
0.75   75   34596.00
0.76   76   35345.16
0.77   77   35806.50
0.78   78   36328.50
0.79   79   36747.00
0.80   80   37516.50
0.81   81   37948.50
0.82   82   38556.00
0.83   83   39456.00
0.84   84   40135.50
0.85   85   40806.00
0.86   86   41845.50
0.87   87   42790.50
0.88   88   43735.50
0.89   89   44991.00
0.90   90   45954.00
0.91   91   47254.50
0.92   92   48465.00
0.93   93   49878.00
0.94   94   51745.50
0.95   95   53325.00
0.96   96   55624.50
0.97   97   58482.00
0.98   98   62964.00
0.99   99   70006.50
1.00  100  258025.50

[101 rows x 2 columns]

In [4]:
# 2.1 將 NAs 以 q50 填補
print("Before replace NAs, numbers of row that AMT_ANNUITY is NAs: %i" % sum(app_train['AMT_ANNUITY'].isnull()))

"""
Your Code Here
"""
q_50 = list(q_all)[50]
app_train.loc[app_train['AMT_ANNUITY'].isnull(),'AMT_ANNUITY'] = q_50

print("After replace NAs, numbers of row that AMT_ANNUITY is NAs: %i" % sum(app_train['AMT_ANNUITY'].isnull()))

Before replace NAs, numbers of row that AMT_ANNUITY is NAs: 12
After replace NAs, numbers of row that AMT_ANNUITY is NAs: 0

### Hints: Normalize function (to -1 ~ 1)
$ y = 2*(\frac{x - min(x)}{max(x) - min(x)} - 0.5) $

In [5]:
# 2.2 Normalize values to -1 to 1
print("== Original data range ==")
print(app_train['AMT_ANNUITY'].describe())

def normalize_value(x):
    """
    Your Code Here, compelete this function
    """
    x=2*(((x-x.min())/(x.max()-x.min()))-0.5)
    
    return x

app_train['AMT_ANNUITY_NORMALIZED'] = normalize_value(app_train['AMT_ANNUITY'])

print("== Normalized data range ==")
app_train['AMT_ANNUITY_NORMALIZED'].describe()

== Original data range ==
count    307511.000000
mean      27108.487841
std       14493.461065
min        1615.500000
25%       16524.000000
50%       24903.000000
75%       34596.000000
max      258025.500000
Name: AMT_ANNUITY, dtype: float64
== Normalized data range ==

count    307511.000000
mean         -0.801154
std           0.113049
min          -1.000000
25%          -0.883714
50%          -0.818357
75%          -0.742752
max           1.000000
Name: AMT_ANNUITY_NORMALIZED, dtype: float64

In [6]:
# 3
print("Before replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: %i" % sum(app_train['AMT_GOODS_PRICE'].isnull()))

# 列出重複最多的數值
"""
Your Code Here
"""
value_most = app_train['AMT_GOODS_PRICE'].value_counts().argmax()

value_most_counts = app_train[app_train["AMT_GOODS_PRICE"]==450000.0]['AMT_GOODS_PRICE'].count()
print(value_most)
print('\nPracitce print format')
print(f'value_most {value_most} and the frequency is {value_most_counts}')
print('value_most %d and the frequency is %d' % (value_most, value_most_counts))
print('value_most {} and the frequency is {}'.format(value_most, value_most_counts),'\n\n')


mode_goods_price = list(app_train['AMT_GOODS_PRICE'].value_counts().index)
print(f'mode good price zero is {mode_goods_price[0]}')
app_train.loc[app_train['AMT_GOODS_PRICE'].isnull(), 'AMT_GOODS_PRICE'] = mode_goods_price[0]

print("After replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: %i" % sum(app_train['AMT_GOODS_PRICE'].isnull()))

Before replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: 278

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.

450000.0

Pracitce print format
value_most 450000.0 and the frequency is 26022
value_most 450000 and the frequency is 26022
value_most 450000.0 and the frequency is 26022


mode good price zero is 450000.0
After replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: 0